.DS_Store
/.build
/Packages
/*.xcodeproj
/*.xcworkspace
**/xcuserdata/
DerivedData/
.xcode-build/
ChoirController.app/
*.choir
firmware/
*.tfw
default.profraw
# Distribution
export/
*.xcarchive/
ExportOptions.plist
.release/
research/
